.areaBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.locations-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 10px;
}

h2 {
  font-size: 15px;
}

.location-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 160px;
  border: 3px solid white;
  position: relative;
  background-position: center;
  background-size: cover;
  margin: 10px;
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black
}

.location-grid-item:hover {
  color: blue;
  cursor: pointer;
  box-shadow: 1px 1px 100px rgba(255, 255, 255, 0.7);
}